.nav-mobile-container {
    position: absolute;
    height: 50vh;
    width: 80vw;
    top: 0;
    background-color: #333;
    padding: 10px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
    z-index: 5;
}

.show {
    display: flex;
}


.nav-mobile-container .info-user {
    width: 100%;
    display: flex;
    gap: 0 20px;
    align-items: center;
}

.nav-mobile-container .info-user img {
    width: 25%;
    border-radius: 50%;
}

.nav-mobile-container .info-user p {
    font-size: 1.3rem;
    color: #fff;
}

.nav-mobile-container .nav-bar a, .login-bar a {
    color: #eee;
    display: block;
    margin-bottom: 5px;
    border-bottom: 1px solid #444;
}


.nav-mobile-container .close-nav {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    position: absolute;
    top: 0px;
    right: 12px;
}
