<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs')%>

    <body>
        <%- include("../partials/header.ejs") %>
        <main>
            <h1>Productos de { user.name }</h1>
            <div style="display:flex; justify-content:center;">
                <a class="boton-primario" href="/products/createProduct">
                    <i class="fa-solid fa-plus"></i>
                    Vender un Producto Nuevo
                </a>
            </div>
            <section class="list">
                <% for( let i = 0; i < 8; i++ ) { %>
                    <%- include("../partials/user-article-card.ejs") %>
                <% } %> %>
            </section>
        </main>
        <%- include("../partials/footer.ejs") %>
    </body>

</html>