:root {
    --amarillo-naranja: #FA9500;
    --naranja: #EB6424;
}

article div p {
    color: #eee;
}

.carrusel .container-img {
    height: 370px;
    margin-top: 5px;
    overflow: hidden;
}

.carrusel .container-img .img-mobile {
    width: 100%;
    object-fit: contain;
}

.carrusel .container-img .img-carrusel {
    object-fit: contain;
    display: none;
}

.filtro {
    width: 100%;
    padding: 5vh 3vh;
    background-color: #222;
    display: flex;
    flex-direction: column;
    gap: 5vw;
    text-align: center;
}

.filtro h2 {
    width: 100%;
    color: #eee;
    font-size: 2rem;
}

.container-secciones {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container-secciones .seccion {
    margin: auto;
    width: 60%;
}

.container-secciones .seccion img {
    border: solid 1px #eee;
    width: 100%;
    transition: all .1s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.container-secciones .seccion img:hover{  
    background-color: #000;
    opacity: .9;
    outline: solid 4px #eee;
    outline-offset: -4px;
}

.contenedor-img {
    margin: 10px;
    width: 250px;
    height: 250px;
    text-align: center;

}

.button a {
    text-decoration: none;
    color: white;

}

.titulo-seccion {
    width: 100%;
    margin: .5rem;

    text-align: center;
    font-size: 36px;
    font-weight: 600;

    color: #333;
}

.contenedor-padre {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}

.card {
    position: relative;
    padding: 20px;
    width: 280px;
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-decoration: none;
    transition: all .1s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover{
    outline: solid 5px #222;
    outline-offset: -5px;
}

.card img {
    width: 100%;
}

.card__title {
    font-weight: 600;
    font-size: 18px;
    color: #222;
}

.card__subtitle {
    font-weight: 400;
    font-size: 12px;
    color: #333;
    letter-spacing: 0.5px;
}

.card__price {
    font-weight: 600;
    font-size: 18px;
    color: #222;
}


@media (min-width: 768px) {
    main .carrusel .container-img div .img-carrusel {
        display: block;
        width: 100%;
    }

    main .carrusel .container-img div .img-mobile {
        display: none;
    }

    .container-secciones {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .container-secciones .seccion {
        width: 40%;
    }
}

@media (min-width:1024px) {
    main .carrusel .container-img div {
        background-color: #eee;
    }
    main .carrusel .container-img div .img-carrusel {
        object-fit: cover;
    }

    .filtro {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 4rem;
    }

    .filtro h2 {
        width: 20%;
        font-size: 48px;
    }

    .container-secciones {
        width: 40%;
    }

    .container-secciones .seccion {
        width: 40%;
    }

    .texto {
        width: 90%;
    }
}
