.productos{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
}

.carrito{
    color:orangered;
}
.barra{
    background-color: #c0c0c0;
    display: flex;
}
.cantidad{
    width: 20%;
    padding: 5px 30px;
}
.producto{
    
    width:60%;
    padding: 5px 30px;
}
.subtotal{
    width: 20%;
    padding: 5px 30px;
}
.carrito1{
    display:flex;
    /*padding:30px;*/
    height: 300px;
    
    width: 100%;
    flex-wrap: wrap;
}
.carrito2{
    display:flex;
    /*padding:30px;*/
    height: 300px;
    
    width: 100%;
    flex-wrap: wrap;
}
.imagen{
    padding:1%;
    width: 17%;
    height: 90%;

}
.nombre{
    padding: 5% 5%;
    width: 39%;
     
}
.cant{
    padding: 5% 5%;
    width: 21%;

}
.precio{
    padding: 5% 5%;
    width: 15%;
    
}
.basura{
    padding: 5% 2%;
    width: 5%;
    
    font-size: 20px;
}
.barra2{
    border: 1px solid black;
    background-color: #FFF;
    display:flex;
}

.botones{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
}

.botones button{    
    margin: 1rem 2rem;
}

@media (min-width:1024px) {
    .botones{
        flex-direction: row;
    }
    .botones button{
        width: 100%;
        margin: 1rem 5rem;
    }
}



