main {
    width: 100%;
    margin: auto;
    display: flex;
}

main .container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main .container form {
    background-color: #eee;
    width: 100%;
    padding: 2rem;
    box-shadow: 0 0 10px #0008;

    display: flex;
    flex-direction: column;
    gap: .5rem;
}

main form input{
    display: block;
    background-color: #fff;
    border: solid 1px #eee;
    box-shadow: 0 0 8px #2222;
    border-radius: 5px;
    color: #222;
    font-size: 1rem;
    /*margin: 0 0 1rem;*/
    padding: .5rem;
    outline: none;
    text-indent: 3px;
    resize: none;
    width: 100%;
}


main form input:focus{
    border: solid 1px #555;
}

span a{
    color: #ddd;
    text-shadow: 0 0 10px #0005;

    font-weight: 600;

    transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

span a:hover{
    color: #aaa;
}


span a:active{
    color: #555;
}

.title{
    color: #ddd;
    margin: 2rem 0 1rem;
    text-align: center;
}

.title h1{
    font-size: 48px;
    font-weight: 900;
    text-shadow: 0 0 10px #0005;
}

.title h2{
    margin: .5rem 0 2rem;
    text-shadow: 0 0 10px #0005;
}
.error{
    color:#842029;
    text-align: center;
    border-radius: 10px;
}
@media (min-width: 768px){
    main .container form{
        margin: 2rem 0;
        padding: 2.5rem;
        width: 70%;

        border-radius: 10px;
    }
}


@media (min-width: 1024px){
    main .container{
        align-items: center;
        justify-content: space-evenly;
    }

    main .container form{
        margin: 2rem 0;
        padding: 2.5rem;
        width: 32%;

        border-radius: 10px;
    }

    .title{
        margin: -4rem 0 0;
    }
    .title h1{
        font-size: 80px;
    }
}