.off-product {
    display: block;
    width: 90vw;
    margin: auto;
    margin-bottom: 4vw;
}

.off-product h2 {
    text-align: center;
}

.off-product div article{
    display: flex;
    justify-content: center;
}