header {
    background-color: #fff;
    box-shadow: 0 0px 10px #2223;
    padding: 5px;
    margin: 0 auto;
    color: #333;
}

header nav .nav-mobile {
    padding: 4vw 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

header nav .nav-mobile div .header-logo {
    width: 100px;
    display: block;
    margin: 5px;
}

header nav .nav-mobile div {
    width: 85vw;
    margin: 1px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .nav-mobile div > div {
    width: 20%;
    display: flex;
    color: #000;
    font-size: 1.2rem;
}

header nav .nav-md-lg {
    display: none;
}


header nav .nav-mobile form {
    margin: 1rem 0 0;
    width: 78%;
    height: 8vh;
    box-shadow: 0 0 5px #222;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* padding: 0.5vw; */
}

header nav .nav-mobile form input {
    position: absolute;
    top: 3px;
    left: 2px;
    display: block;
    background-color: transparent;
    width: 87%;
    font-size: 1rem;
    border: none;
    outline: none;
    color: #333;
}

header nav .nav-mobile form i {
    position: absolute;
    top: 15px;
    right: 10px;
    display: block;
    font-size: 1.1rem;
    color: #000;
}

.error-message {
    font-size: .7rem;
    margin: 0 auto;
}