header {
    background-color: #fff;
    box-shadow: 0 0px 10px #2223;
    padding: 5px;
    margin: 0 auto;
    color: #333;
}

header nav .nav-mobile {
    padding: 4vw 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.navigator .link-img-header {
    display: block;
    width: 90px;
    height: 80px;
}


.fa-cart-shopping, .fa-bars {
    font-size: 1.5rem;
}

.fa-bars {
    margin-right: 13px;
}

.navigator {
    width: 85vw;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.navigator > div {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}


header nav .nav-mobile form {
    margin: 1rem 0 0;
    width: 80%;
    height: 6vh;
    box-shadow: 0 0 5px #222;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* padding: 0.5vw; */
}

header nav .nav-mobile form input {
    position: absolute;
    top: 3px;
    left: 7px;
    display: block;
    background-color: transparent;
    width: 85%;
    font-size: 1rem;
    border: none;
    outline: none;
    color: #333;
}

header nav .nav-mobile form i {
    position: absolute;
    top: 8px;
    right: 10px;
    display: block;
    font-size: 1.1rem;
    color: #333;
}

.error-message {
    font-size: .7rem;
    margin: 0 auto;
}