<article>
    <div href="/product/item" class="card">
        <img class="contenedor-img" src="/img/campera-reebok-essentials-linear-logo-negra.jpg"
            alt="Campera Reebok Negra">

        <div class="card__price">$9999</div>
        <div class="card__title">Campera Reebok Negra</div>
        <div class="card__subtitle">Talle: L</div>
        <div class="card__subtitle container-botones">
            <a href="" class="boton-primario boton-chiquito"><i class="fa-solid fa-pencil"></i> Modificar</a>
            <a href="" class="boton-primario boton-chiquito boton-peligroso"><i class="fa-solid fa-trash-can"></i> Borrar</a>
        </div>
    </div>

</article>