footer {
    background-color: #333;
    text-align: center;
}

footer p {
    padding: 10vw 0;
    font-size: .8rem;
    color: #fff;
}

footer p span {
    color: #f00;
    font-size: 1rem;
    margin: 0 3px;
}