h1 {
    font-size: 2rem;
    text-align: center;
    margin: 3vw auto;
}

.products-cart {
    border: 1px solid #888;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
}

.products-cart .info-product {
    display: flex;
    justify-content: space-around;
}


.products-cart .info-product img{
    width: 30%;
    object-fit: contain;
}

.products-cart .info-product .name {
    font-size: 1.1rem;
}

.products-cart .buttons-cart {
    margin: 2vw auto;
}

.buttons-cart .btn {
    border: 1px solid #999;
    margin: 0 5px;
    padding: 1px 5px;
}

.buttons-cart .delete {
    background-color: #a81d1d;
    color: #eee;
}

.buttons-cart .modify {
    background-color: rgb(47, 95, 119);
    color: #eee;
}