.container-cart {
    margin: 1vh;
    text-align: center;
}

.total-buy {
    text-align: center;
    margin: 3vh 0;
}

.total-buy p {
    font-size: 1.2rem;
}

.total-buy .total {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.total-buy button {
    display: inline-block;
    padding: 5px 30px;
    background-color: rgb(143, 48, 172);
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 2px;
}

.msg-error {
    text-align: center;
    font-size: 1rem;
    margin: 25vh auto;
}

.msg-error h1 {
    font-size: 1.3rem;
}