.carrusel {
    height: 40vh;
    margin-top: 20px;
}

.carrusel .container-img {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.carrusel .container-img .img-mobile {
    width: 100%;
    height: 100%;
    object-fit: contain;
}